body{
	width: 1000px;
	margin: 0 auto;
	padding: 100px 0;
}

/*

	计算器：

 */
#calculator{
	width: 620px;
	margin: 0 auto;
}
#calculator input{
	font-size: 20px;
	padding: 25px;
}
#result{
	width: 560px;
}
#bce input{
	width: 118px;
}
#nums input{
	width: 200px;
}
#operation input{
	width: 150px;
}
#get-result input{
	width: 150px;
}
