:root {
    --body-background-color: black;
    --text-color: white;
}

* {
    background-color: var(--body-background-color);
    color: var(--text-color);
}

div {
    position: relative;
    top: 10px;
    border: 1px solid transparent;
    padding: 5px;
    margin: 5px;
}

div.span {
    position: relative;
    top: 20px;
}

div input{
    position: fixed;
    bottom: 200px;
    width: fit-content;
    height: 25px;
}